.titlebar {

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 42px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 0 15px;

    box-sizing: border-box;

    background: rgba(5,5,16,0.85);

    backdrop-filter: blur(15px);

    color: white;

    z-index: 99999;

    -webkit-app-region: drag;

}


.title {

    font-size: 16px;

    letter-spacing: 4px;

    font-weight: 600;

}


.window-controls {

    display: flex;

    gap: 8px;

    -webkit-app-region: no-drag;

}


.window-controls button {

    width: 35px;

    height: 28px;

    border: none;

    border-radius: 5px;

    background: transparent;

    color: white;

    display: flex;

    justify-content: center;

    align-items: center;

    cursor: pointer;

}


.window-controls button:hover {

    background: cyan;

    color: black;

}